.input-readonly {
  display: flex;
  align-items: center;
  background: rgba(240, 242, 244, 0.5);
  min-height: 46px;
  border: 1px solid #dee5eb;
  box-shadow: inset -1px 0px 0px rgba(198, 209, 221, 0.5);
  padding-left: 16px;
  margin-top: 16px;
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #7b8395;
}
