@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// override .react-toast-notifications styles
body .react-toast-notifications__toast__content {
  font-family: "IBM Plex Mono";
  min-height: auto;
}
